
.add-search{
  display: flex;
  align-items: center;

}

.sections{
  width: 35%;
  margin: 2rem 0;
}



.form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchbar{
    background-color: #FFF9F5;
    border: 2px solid #D9998B;
    width: 15rem;
    height:3rem;
    padding: 0.8rem;
    border-radius: 20px;
}

.search-btn{
    background-color: #D9998B;
    border: 3px solid #D9998B;
    border-radius: 15px;
    height: 2.8rem;
    width: 3rem;
    margin-left: 1rem;
}

.title-h1{
  color:  #7c4c42;
  font-size: 2.4rem;
  text-align: center;
}

.title-bloc{
  justify-content: center;
  display: flex;
  align-items: center;
}
.title-bloc img{
  width: 5rem;
}
.title-h2{
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.title-h3{
    padding-bottom: 1rem;
    margin-top: -1rem;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.card {
  margin: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #8C564A;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  width: 28rem;
  min-height: 45vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  
}

.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-card{
    min-width: 20rem;
    min-height: 35vh;
    background-color: #FFEFE5;
    border-radius: 20px;
}

.text-card p {
  font-family: inria sans;
  text-align: center;
  font-size: 1.2rem;
  line-height: 160%;
  padding: 2rem;
}

.date-time{
    margin-top: 1rem;
}

.btn-add-com{
  width: 20rem;
}

.pagination{
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}
.link-pages{
  color: black;
  text-decoration: none;
  font-size:20px;
  margin: 1rem;
}

/* .pagination:active {
  color: red;
} */